

  .footer{
    display: flex;
    flex-direction: column;
    /* height: 50px; */
    margin: 5px auto;
  }
  
  .footer-name{
    display:flex;
    flex-flow: column ;
    justify-content: center;
    margin: 0 auto;
  }

  .linked-in{

  }

  .github{
    margin: auto;
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px){
  
  }