

  .footer{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    /* height: 50px; */
    margin: 10px auto;
    align-items: flex-end;
    color:white;
    background-color: black;
  }
  
  .footer-name{
    display:flex;
    flex-flow: column ;
    justify-content: center;
    margin: 0 auto;
  }

  .social-media{
    margin: auto;
    flex-flow: wrap;
    background-color: white;
  }
  .linked-in{
  margin: auto;
  }

  .github{
    margin: auto;
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px){
  
  }